* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(39, 26, 9, 0.877);
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 20px 10px;
    padding: 10px;
    background-color: rgba(61, 39, 10, 0.822)
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    
}

#myForm {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


.formContainer input {
    width: 175px;
}

.formContainer button {
    width: 100px;
}



.bookContainer {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    margin-top: 100px;
}

.bookContainer input[type='radio'] {
    width: 100px;
}



.bookCard {
    /* Style later */
}