* {
    margin: 0;
    box-sizing: border-box;
}

.formContainer {
    display: grid;
    /* grid-template-columns: 200px 200px; */
    justify-content: center;
    align-items: center;
    max-width: 400px;

}
.formContainer input {
    width: 175px;
}

.formContainer button {
    width: 100px;
}